<%= link_to 'Members', members_path, class: "btn btn-info" %>
<%= link_to 'Weekly Collections', weekly_collections_path, class: "btn btn-info" %>
<%= link_to 'Expenses', expenses_path, class: "btn btn-info" %>

<p>Balance: <%= @balance.current_balance %> Bs.</p>


<script>
    $(document).ready(function(){
        
    })
</script>