<div id="<%= dom_id weekly_collection %>">
  <p>
    <strong>Week date:</strong>
    <%= weekly_collection.week_date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= weekly_collection.amount %>
  </p>

</div>
