<h1>Editing weekly collection</h1>

<%= render "form", weekly_collection: @weekly_collection %>

<br>

<div>
  <%= link_to "Show this weekly collection", @weekly_collection %> |
  <%= link_to "Back to weekly collections", weekly_collections_path %>
</div>
