<p style="color: green"><%= notice %></p>

<h1>Weekly collections</h1>

<div id="weekly_collections">
  <% @weekly_collections.each do |weekly_collection| %>
    <%= render weekly_collection %>
    <p>
      <%= link_to "Show this weekly collection", weekly_collection %>
    </p>
  <% end %>
</div>

<%= link_to "New weekly collection", new_weekly_collection_path %>
