<h1>Editing member weekly collection</h1>

<%= render "form", member_weekly_collection: @member_weekly_collection %>

<br>

<div>
  <%= link_to "Show this member weekly collection", @member_weekly_collection %> |
  <%= link_to "Back to member weekly collections", member_weekly_collections_path %>
</div>
