<div id="<%= dom_id expense %>">
  <p>
    <strong>Member:</strong>
    <%= expense.member_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= expense.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expense.amount %>
  </p>

</div>
